
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #0055A4;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    cursor: pointer;
    color: #444;
    transition: color 0.3s;
  }
  
  .nav-links li:hover {
    color: #3877b1;
  }

  .nav-buttons {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .btn-signin {
    background: #FFD700;
    color: black;
  }
  
  .btn-saved {
    background: #FFA500;
    color: black;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  
  .hero {
    position: relative;
    height: 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }

  .slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fade 12s infinite;
  }

  .slide1 {
    background-image: url('../components/assets/pexels-solliefoto-298863.jpg');
    animation-delay: 0s;
  }
  .slide2 {
    background-image: url('../components/assets/pexels-chetanvlad-1766702.jpg');
    animation-delay: 4s;
  }
  .slide3 {
    background-image: url('../components/assets/matthew-moloney-YeGao3uk8kI-unsplash.jpg');
    animation-delay: 8s;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  .hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
  }
  
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero-buttons {
    display: flex;
    justify-content: center;
  }
  
  .btn-yellow {
    background: #FFD700;
  }
  
  .btn-orange {
    background: #FFA500;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  